.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  padding: 0 1em;
  margin: 0 auto;
}

.main {
  min-height: calc(100% - 64px);
}

.error-message {
  color: red;
  margin: 1rem 0;
}
