.container {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  height: 100vh;
  padding: 0 1em;
  margin: 0 auto;
}

.main {
  min-height: calc(100% - 64px);
}

.error-message {
  color: red;
  margin: 1rem 0;
}

.loader-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 10px solid #e0e0e0;
  border-top: 10px solid #0d6efd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
